<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  体现ioc好处的测试  -->
    <!--    <bean id="empDao" class="com.ryan.dao.impl.EmpDaoImpl"></bean>-->
    <bean id="empDao" class="com.ryan.dao.impl.EmpDaoImpl2"></bean>


    <!--  bean标签属性测试  -->
    <bean id="userBean1" class="com.ryan.bean.User" lazy-init="false" scope="singleton"></bean>
    <!--  DI测试 *非简化版本 -->
    <bean id="userBean2" class="com.ryan.bean.User" lazy-init="false" scope="singleton">
        <constructor-arg name="uid" value="2022"></constructor-arg>
        <constructor-arg name="uname" value="defaultName2"></constructor-arg>
        <constructor-arg name="pwd" value="pwd123"></constructor-arg>
    </bean>
    <bean id="userBean3" class="com.ryan.bean.User" lazy-init="false" scope="singleton">
        <constructor-arg name="uid" value="2023"></constructor-arg>
        <constructor-arg name="uname" value="defaultName3"></constructor-arg>
        <constructor-arg name="pwd" value="pwd123"></constructor-arg>
    </bean>
    <!--  DI测试 *简化版本 -->
    <!--   添加了
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:c="http://www.springframework.org/schema/c"
        以开启p和c名称空间
    -->
    <bean id="userBean4" class="com.ryan.bean.User" p:uname="defaultName4"/>
    <bean id="userBean5" class="com.ryan.bean.User" c:uid="5555" c:uname="defaultName5" c:pwd="pwd123"/>


    <!-- DI测试 *注入空值和特殊符号   -->
    <bean id="user1" class="com.ryan.bean.User">
        <!--null值-->
        <property name="uid">
            <null></null>
        </property>
        <!--特殊符号 转译字符 < &lt;  >&gt;  & &amp;     -->
        <property name="uname" value="&amp;MYNAME&lt;&gt;"></property>
        <!-- 特殊符号  <![CDATA[内容]]>  -->
        <property name="pwd">
            <value><![CDATA[&<123456>]]></value>
        </property>
    </bean>
</beans>